/* General body
--------------------------------------------------
--------------------------------------------------*/

/* body infos */
body {
	background-color: rgb(255, 255, 255) !important;
	font-family: Roboto Thin !important;
}

body {
	overflow-x: hidden !important;
}

/*container of the page*/
.container {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

/* Provide sufficient contrast against white background */
a {
	color: rgb(112, 173, 71);
}

a:hover {
	color: rgb(112, 173, 71);
}

h4, h3, h2 {
	font-family: roboto Medium !important;
	color: black !important;
}

h1 {
    text-align:center !important;
    margin-bottom: 20px !important;
    font-family: coolvetica !important;
	color: black !important;
}
/* navbar
--------------------------------------------------
--------------------------------------------------*/

/* logo */
.nav>li>a>img {
	width: 5.2rem;
}

.dropdown-menu {
	margin: .7rem 0 0 !important;
}

.dropdown-item {
	padding: .25rem 1rem;
	color: rgb(90, 90, 90);
}

.dropdown-item i {
	padding: 0 .6rem 0 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.navbar {
	background-color: rgb(250, 250, 250) !important;
	padding: .35rem .35rem !important;
	margin-bottom: 0px !important;
}

.navbar-brand>img {
	width: 50px;
}

.navbar-brand {
	padding: 0px !important;
}

.navbar-left {
	margin-left: 17rem !important;
}

/*search button in navbar */
.search-button {
	background-color: white;
	border: 1px solid rgb(230, 230, 230);
	color: rgb(128, 128, 128);
	padding: 4px 30px 6px 30px;
	font-size: 16px;
	cursor: text !important;
	margin-top: 0px !important;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 2px rgb(240, 240, 240);
}

/* modal
--------------------------------------------------
--------------------------------------------------*/

div.modal-header > h4 {
    font-family: coolvetica !important;
    font-size: x-large;    
}

.modal-header {
	text-align: center;
}

.zone {
    border-bottom: 0.0009rem solid lightgray;
}

.form-rows {
	display: flex;
	flex-direction: column;
}

.form-rows > div {
	padding-bottom: 20px;
	padding-left: 30px;
}

.form-columns {
	display: flex;
	flex-direction: row;
}

.form-columns > div {
	align-self: end;
}

/*champ date*/

.form-inline label, input {
    margin-right: 0px !important;
}

.input-group-addon {
    width: 0% !important;
}

label {	
    float: left;
}

.date {
    width: 15rem !important;
    margin-right: 5rem;
}

label {
    font-weight: initial !important;
    padding-right: 10px;
    font-size: small;
}

textarea.form-control {
    width: 84.2rem !important;
}

.select-menu {
    width: 60%;
}

body .ui-slider.ui-slider-horizontal {
    height: 0.5rem;
    width: 30rem;
}

.btn-suivant {
    width: 70%;
    margin-top: 10px !important;
    margin-left: 60px !important;
    margin-bottom: 0px !important;
}

.btn-modal {
	text-align: center;
}

.modal-open {
    overflow: initial !important;
    padding-right: 0px !important;
}

/* box-offre (template pour toutes les box annonces-terrain..
--------------------------------------------------
--------------------------------------------------*/
.boxes-page-title {
	align-content: center;
}

.offre-box {
	display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid rgb(230,230,230);
    color: rgb(128 128 128);
    font-size: 16px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgb(240,240,240);
    margin-right: 15rem;
    margin-left: 15rem;
}

.offre-box-img {
	flex:1;
}

.offre-box-info {
	display: flex;
	flex-direction: column;
	flex: 2;
}

.offre-box-info-header {
	flex: 1;
}

.offre-box-info-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 3;
	min-height: 0;
	min-width: 0;
	align-content: center;
	font-size: smaller;
	}

.offre-box-info-body-right {
	flex:2;
}

.offre-box-info-body-left {
	flex:2;
}

.info {
	 flex: 1 0 25%;
	 /*margin: 20px;*/
	 overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 1; /* number of lines to show */
     -webkit-box-orient: vertical;
}

.img-in-box {
    border-radius: 10px 0px 0px 10px;
    width: 275px;
    height: 190px;
}

.icon {
	opacity: 25%;
	width: 20px;
	height: 20px;
}

a {
	text-decoration: none !important;
}

div.offre-box:hover {
    background-color: rgb(250 250 250);
}

/* detail-offre page
--------------------------------------------------
--------------------------------------------------*/
.offre-details-box {
	display: flex;
	flex-direction: row;
	align-items: start;
	margin: 0px 100px 0px 150px;
}

.offre-details-info {
	display: flex;
	flex-direction: column;
	flex: 4;
}

.tarif-reservation {
	display: flex;
	flex-direction: column;
	flex: 2;
}

.details-box {
    background-color: white;
    border: 1px solid rgb(230,230,230);
    color: rgb(128 128 128);
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgb(240,240,240);
    margin: 0px 15px 15px 0px;
    padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.btn-reservation {
	text-align: center;
}

.btn-reservation > div {
	margin-bottom: 10px;
}

.img-in-details {
	width: 180px;
	height: 120px;
	margin-top: 20px !important;
}

.btn-contact {
	background-color: #2c7ee4!important;
	color: white !important;
}

.tarif-element {
	display: flex;
	flex-direction: row;
}

.prix-element {
	flex: 2;
	text-align: end;
}
	
/* search results 
--------------------------------------------------
--------------------------------------------------*/
.search-container {
	display: flex;
	flex-direction: row;
	
}

.map-search-results {
	width: 550px !important;
	height: 500px;
	flex: 2;
}

.search-results {
	display: flex;
	flex-direction: column;
	color: rgb(128 128 128);
	background-color: white;
    border: 1px solid rgb(230,230,230);
    color: rgb(128 128 128);
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgb(240,240,240);
    margin: 0px 0px 0px 0px;
    padding-left: 5px;
	padding-right: 10px;
	padding-left: 5px;
	padding-right: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 679px;
	flex: 2;
}

.search-result {
	display: flex;
	flex-direction: row;
	color: rgb(128 128 128) !important;
}

.result-offre-box-info {
	display: flex;
	flex-direction: column;
	flex: 2;
}

.result-offre-box-info-header {
	display: flex;
	flex-direction: row;
}

.result-offre-box-info-body {
	display: flex;
	flex-direction: row;
}

.result-img-in-box {
	width: 230px;
	height: 150px;
}

.search-result {
	height: 150px;
	border-bottom: 1px solid rgb(230,230,230);
	
}

.result-offre-box-info-price {
    padding-top: 10px;
    flex: 2;
    text-align: end;
    font-weight: bold;
    color: black;
    padding-right: 5px;
}

.result-offre-box-info-title {
	flex: 6;
}

.result-offre-box-info-body-right {
	flex:2;
}

.result-offre-box-info-body-left {
	flex:2;
}

div.search-result:hover {
    background-color: rgb(250 250 250);
}

.profile-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.prix-total {
    color: black;
    font-weight: bold;
    font-size: larger;
}

.adresse-long,.hidden-name, .adresse-lat {
	display: none !important;
}

/* table mes prestations
--------------------------------------------------
--------------------------------------------------*/
a.link-datatable {
	color: black;
}

/* recapitulatif
--------------------------------------------------
--------------------------------------------------*/
.btn-recap {
	width: 15rem !important;
	margin-left: 3rem !important;
}

.mode-paiement {
	border: 1px solid !important;
	width: 10rem !important;
}

/* paiement
--------------------------------------------------
--------------------------------------------------*/
.img-paiement {
	width: 30px;
	height: 15px;
}